body {
    font-size: 20px;
    background: #3e3e3e;
    font-family: "Open Sans", sans-serif;
    color: #3e3e3e;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: #cccccc;
    border: solid 3px #f30909;
}

.bold {
    color: #0a9dd8;
}

img {
    width: 200px;
}

img:hover {
    border: 3px solid rgb(0, 0, 0, 1);
}

.Photo {
    text-align: center;
}