* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: auto;
    max-width: auto;
}

body {
    background: url('../Source/leaves.png');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}


/* header*/

header {
    background: url(../Source/sean-martin.jpg);
    background-position: center;
    background-repeat: no repeat;
    max-height: 600px;
}

header .menu {
    margin: 40px 0;
    text-align: right;
}

header .menu a {
    margin: 0 20px;
    color: #fff;
    padding-bottom: 9px;
    display: inline-block;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;
}

header .menu a:hover {
    border-bottom: 2px solid #fff;
}

header .text-Container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 190px 0;
}

header .text-Container .text {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    display: inline-block;
    text-align: center;
    padding: 20px 60px;
}

header .text-Container .text h1,
header .text-Container .text h2 {
    color: #fff;
    font-weight: 300;
    margin: 0;
}

header .text-Container .text .Name {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 50px;
}

header .text-Container .text .Profession {
    font-size: 25px;
    line-height: 25px;
}


/* main */

.main .container {
    overflow: visible;
}

.main .About {
    text-align: center;
}

.main .About .Photo {
    margin-top: -60px;
}

.main .About .Photo img {
    width: 160px;
    height: 180px;
    vertical-align: top;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.2);
}

.main .About .text {
    color: #5a5a5a;
    font-weight: 600;
    font-size: 1em;
    line-height: 30px;
    width: 80%;
    margin: 40px auto 60px auto;
}

.main .About .text .tittle {
    font-size: 50px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #dd820d;
    text-align: center;
}

.main .About .text .Me {
    font-size: 30px;
}

.main .About .text .bold {
    color: #3895ea;
    text-decoration: underline;
}

.main .Projects .container {
    overflow: hidden;
}

.main .Projects .tittle {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #323068;
    text-align: center;
}

.main .Projects .container-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main .Projects .container-projects .Project {
    background-color: #fff;
    width: 28%;
    margin-bottom: 40px;
    box-shadow: 10px 10px 10px grey;
    overflow: visible;
}

.main .Projects .container-projects .Project .thumb {
    width: 100%;
    margin-bottom: 10px;
}

.main .Projects .container-projects .Project .thumb img {
    width: 100%;
    vertical-align: top;
    border-radius: 3px;
}

.main .Projects .container-projects .Project .description {
    text-align: center;
}

.main .Projects .container-projects .Project .description .bold {
    color: #3895ea;
}

.main .Projects .container-projects .Project .description .name {
    font-weight: 700;
    color: #3895ea;
    margin-bottom: 18px;
}

.main .Projects .container-projects .Project .description .category {
    font-size: 14px;
    color: #636363;
    line-height: 1.8em;
}

footer .Contact {
    padding: 60px 0;
}

footer .Contact .tittle {
    font-size: 50px;
    line-height: 34px;
    margin-bottom: 40px;
    font-weight: 300;
    color: #48a7ccf6;
    text-align: center;
}

footer .Contact .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .Contact .form input[type="text"],
footer .Contact .form input[type="email"],
footer .Contact .form textarea {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: #a4a4a4;
}

footer .Contact .form input[type="text"],
footer .Contact .form input[type="email"] {
    width: 49%;
    margin-bottom: 15px;
}

footer .Contact .form input[type="text"]:focus,
footer .Contact .form input[type="email"]:focus,
footer .Contact .form textarea:focus {
    border: 2px solid #3895ea;
}

footer .Contact .form textarea {
    width: 100%;
    height: 100px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin-bottom: 15px;
}

footer .Contact .form .button {
    margin: auto;
    background: #3895ea;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    cursor: pointer;
}

footer .Contact .form .button:hover {
    background: #387bea;
}

footer .Social-media {
    background: #1e2b38;
    padding: 60px 0;
}

footer .Social-media .container {
    display: flex;
    justify-content: center;
}

footer .Social-media a {
    color: #fff;
    text-align: center;
    width: 100px;
    display: block;
    padding: 15px 0;
    border-radius: 3px;
    font-size: 30px;
    margin: 0 20px;
}

footer .Social-media .facebook:hover {
    background: #3b5998;
}

footer .Social-media .pinterest:hover {
    background: #bd081c;
}

footer .Social-media .github:hover {
    background: #333;
}

footer .Social-media .linkedin:hover {
    background: #5d7886;
}

@media screen and (max-width: 800px) {
    header .menu {
        text-align: center;
    }
    .main .Projects .container .Project {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    header .container .text .Name {
        font-size: 35px;
        ;
    }
    header .container .text .Profession {
        font-size: 18px;
        ;
    }
}

.holis {
    margin-top: 195px;
}